<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qidu.lin.time.accumulater"
    android:versionCode="3"
    android:versionName="0.12" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.qidu.lin.time.accumulater.TAMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qidu.lin.time.accumulater.TASelect"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.qidu.lin.time.accumulater.TAClockwiseTomatoSystemAlarmReceiver"
            android:label="@string/title_activity_intent_filter_receiver" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qidu.lin.time.accumulater.TATomatoHistoryListActivity"
            >
        </activity>
    </application>

</manifest>